@page
@model App.Presentation.Pages.Post.CreatePostModel
@{
    ViewData["Title"] = "ساخت پست جدید";
}

<div class="container">
    <h2 class="my-4">ساخت پست جدید</h2>

    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="Title">عنوان پست</label>
            <input type="text" class="form-control" asp-for="model.Title"  />
        </div>
        <div class="form-group">
            <label for="Summary">متن اصلی</label>
            <textarea class="form-control" asp-for="model.Description" ></textarea>
        </div>
        <div class="form-group">
            <label for="Title">تصویر</label>
            <input type="file" asp-for="ImageFile" />
        </div>


        <div class="form-group">
            <label for="CategoryId">دسته‌بندی</label>
            <select class="form-control" asp-for="model.CategoryId" required>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Title</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary">ایجاد پست</button>
    <div asp-validation-summary="All" class="text-danger"></div>
    </form>
</div>